In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("imdb.csv", low_memory=False)

In [3]:
data = df.drop(columns = ['cast', 'id'])

In [4]:
data = data[data['averageRating'].notna()]

In [5]:
stars = data[['averageRating', 'stars']]

In [6]:
stars = stars.dropna()

In [7]:
stars.sort_values(by=['averageRating'])

       averageRating                                        stars
56054            1.3         Joyce Ilg,Torge Oelrich,Otto Waalkes
52358            1.4  Kirk Cameron,Darren Doane,Bridgette Cameron
26609            1.5                   Eminem,Ja Rule,Pras Michel
43426            1.5        Hilary Duff,Haylie Duff,Charlie Sheen
7185             1.5                   Eminem,Ja Rule,Pras Michel
...              ...                                          ...
16718            9.2           Marlon Brando,Al Pacino,James Caan
19767            9.3        Tim Robbins,Morgan Freeman,Bob Gunton
19375            9.3        Tim Robbins,Morgan Freeman,Bob Gunton
16193            9.3        Tim Robbins,Morgan Freeman,Bob Gunton
343              9.3        Tim Robbins,Morgan Freeman,Bob Gunton

[29365 rows x 2 columns]

In [11]:
my_dict = {}
n = len(stars)
for i in range(n):
    avgR, star = stars.iloc[i,:]
    avgR = float(avgR)
    star = star.split(',')
    for s in star:
        if s not in my_dict.keys():
            my_dict[s] = [avgR, 1]
        else:
            a = my_dict[s]
            a = [avgR + a[0], a[1] + 1]
            my_dict[s] = a
print(len(my_dict))

23693

In [12]:
for a in my_dict:
    score, n = my_dict[a]
    my_dict[a] = score/n

In [13]:
print(len(my_dict))

23693

In [14]:
n = len(data)
data['score_star'] =  pd.Series(np.zeros(n), index=data.index)

In [23]:
data

,averageRating,budget,country,cumulative,director,stars,storyLine,writer,score_star
0,8.3,"$30,000,000",USA,"$404,265,656",John Lasseter,"Tom Hanks,Tim Allen,Don Rickles",A little boy named Andy loves to be in his...,"John Lasseter,Pete Docter",0.0
1,7.0,"$65,000,000",USA,"$262,821,940",Joe Johnston,"Robin Williams,Kirsten Dunst,Bonnie Hunt","Jumanji, one of the most unique--and dange...","Jonathan Hensleigh,Greg Taylor",0.0
2,6.7,"$25,000,000","English,Italian,German","$71,518,503",Howard Deutch,"Walter Matthau,Jack Lemmon,Ann-Margret",Things don't seem to change much in Wabash...,Mark Steven Johnson,0.0
3,5.9,"$16,000,000",English,"$81,452,156",Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine",This story based on the best selling novel...,"Terry McMillan,Terry McMillan",0.0
4,6.1,"$30,000,000",English,"$76,594,107",Charles Shyer,"Steve Martin,Diane Keaton,Martin Short","In this sequel to ""Father of the Bride"", G...","Albert Hackett,Frances Goodrich",0.0
...,...,...,...,...,...,...,...,...,...
66849,7.1,NaN,USA,NaN,NaN,NaN,Are you too busy to mix the lettuce and to...,NaN,0.0
66850,7.3,NaN,South Korea,"$3,328,517",NaN,NaN,Five children go to the mountains; magical...,NaN,0.0
66851,7.0,NaN,French,NaN,NaN,NaN,A young biologist (Sylvie) is thrown into ...,NaN,0.0
66852,5.9,"EUR4,000,000","Spanish,English","$297,682",Hatem Khraiche,"Clara Lago,Álex González,Andrés Parra",Helena is a young girl who spent all her l...,Hatem Khraiche,0.0
66853,3.6,NaN,USA,NaN,Brad Douglas,"John T. Woods,Abby Wathen,Lindsae Klein","Amanda Millard, desperate for a job, takes...",Brad Douglas,0.0

In [27]:
for i in range(n):
    star = data.at[i,'stars']
    star = star.split(',')
    for s in star:
        data.at[i,'score_star'] = data.at[i,'score_star'] + my_dict[s]

AttributeError: 'float' object has no attribute 'split'

In [ ]:
data